html{
    font-size:62.5%;   /* 16px  */
    box-sizing: border-box;
}

body{
    margin: 0px;
    height: 100vh;
    font-size: 1.6rem;
    font-family: Helvetica,Arial, sans-serif;
}
h1{
    font-size: 1.8rem;
    margin: 1rem 0;
}
h2{
    font-size: 1.6rem;
    margin: 1rem 0;
}

/* Layout */
.grid-container{
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

header{
    grid-area: header;
    background-color: #203040;
}
header a {
    color: white;
}
a.brand{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
main{
    grid-area: main;
    padding: 1rem;
}
footer{
    grid-area: footer;
    background-color: #203040;
    color: aliceblue;
}
.row.center {
    justify-content: center;
}
a {
    text-decoration: none;
}
a:hover{
    color: red;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*Image  */
img{
    border-radius: 0.5rem;
}
img.medium{
    max-width: 23rem;
    width: 100%;
}

.card{
    border-radius: 0.5rem;
    margin: 1rem;
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
}
.card-body{
    padding: 1rem;
    
}
.card-body > * {
    margin-bottom: .5rem;
}
.price{
    font-size: 2rem;
}
.rating span{
    color: rgb(255, 251, 44);
    margin: 1px;
}